.specific-job-view-container {
  height: auto;
  width: 70vw;
  background-color: #202020;
  margin-top: 40px;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 32px;
  font-family: Roboto;
  color: #ffffff;
  padding-bottom: 50px;
}

.description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.visit-link {
  text-decoration: none;
}

.visit-icon {
  margin-left: 10px;
}

.skills-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.skills-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 350px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.skills-image {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-paragraph {
  margin-right: 60px;
  font-family: Roboto;
  font-weight: normal;
}

.similar-jobs-header {
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  margin-top: 75px;
}

.similar-jobs-container {
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  color: #ffffff;
}

@media (max-width: 576px) {
  .specific-job-view-container {
    height: auto;
    width: 90vw;
    background-color: #202020;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 32px;
    font-family: Roboto;
    color: #ffffff;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-paragraph {
    margin-right: 10px;
    font-family: Roboto;
    font-weight: normal;
    margin-bottom: 25px;
  }

  .similar-jobs-header {
    font-family: Roboto;
    font-weight: bold;
    color: #ffffff;
    margin-left: 25px;
    margin-top: 75px;
  }

  .similar-jobs-container {
    height: auto;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Roboto;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
  }
}
