.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 500px;
  width: 600px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
}

.website-logo {
  height: 50px;
  width: 165px;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 70%;
  margin-top: 10px;
  padding-left: 30px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: Roboto;
}

.text-label {
  font-family: Roboto;
  font-weight: bold;
  color: #cbd5e1;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  border-color: #64748b;
  margin-bottom: 25px;
  padding: 15px;
  border-width: 0.5px;
  color: #ffffff;
}

.logIn-button {
  height: 40px;
  width: 100%;
  color: #ffffff;
  background-color: #4f46e5;
  text-align: center;
  border-radius: 8px;
  border-color: transparent;
  cursor: pointer;
}

.error-text-container {
  height: auto;
  width: 100%;
  padding-left: 130px;
}

.submit-text {
  font-family: Roboto;
  text-align: left;
  color: #ff0b37;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 576px) {
  .login-container {
    height: 450px;
    width: 450px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-radius: 10px;
  }
}
