.jobs-container {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  background-color: #121212;
  color: #ffffff;
}

.filter-container {
  height: 100vh;
  width: 23vw;
}

.display-jobs-list-container {
  min-height: 100vh;
  height: auto;
  width: 70vw;
  margin-left: 50px;
}

.search-container {
  height: 37px;
  width: 500px;
  border-color: #cbd5e1;
  border-style: solid;
  border-width: 0.7px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  height: 37px;
  width: 450px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.search-button {
  height: 35px;
  width: 42px;
  background-color: #7e858e;
  border-color: none;
  outline: none;
}

.search-icon {
  height: 18px;
  width: 20px;
  color: #ffffff;
}

@media (max-width: 576px) {
  .jobs-container {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 20px;
    background-color: #121212;
    color: #ffffff;
  }

  .search-container {
    position: absolute;
    top: 0;
    height: 37px;
    width: 350px;
    border-color: #cbd5e1;
    border-style: solid;
    border-width: 0.7px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .filter-container {
    height: 85vh;
    width: 90vw;
    margin-top: 75px;
  }

  .display-jobs-list-container {
    min-height: 100vh;
    height: auto;
    width: 70vw;
    margin-left: 5px;
  }
}
