.jobs-container {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  background-color: #121212;
  color: #ffffff;
}

.filter-container {
  height: 100vh;
  width: 23vw;
}

.profile-container {
  height: 250px;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 15px;
}

.profile-header {
  font-family: Roboto;
  color: #6366f1;
}

.profile-paragraph {
  font-family: Roboto;
  color: #000000;
}

.display-jobs-list-container {
  min-height: 100vh;
  height: auto;
  width: 70vw;
  margin-left: 50px;
}

.search-container {
  height: 37px;
  width: 500px;
  border-color: #cbd5e1;
  border-style: solid;
  border-width: 0.7px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  height: 37px;
  width: 450px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.search-button {
  height: 35px;
  width: 42px;
  background-color: #7e858e;
  border-color: none;
  outline: none;
}

.search-icon {
  height: 18px;
  width: 20px;
  color: #ffffff;
}
