.job-render-container {
  min-height: 100vh;
  height: auto;
  width: 1100px;
}

.loader-container {
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noJobs-container {
  height: 80vh;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.error-header {
  font-family: Roboto;
  color: #ffffff;
}

.error-paragraph {
  font-family: Roboto;
  color: #7e858e;
}
