.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-content-container {
  height: 90vh;
  width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  padding-top: 70px;
  padding-left: 50px;
  font-family: Roboto;
  color: #ffffff;
}

.home-header {
  font-family: Roboto;
  font-size: 65px;
}

.home-paragraph {
  font-family: Roboto;
  font-size: 30px;
}

.job-button {
  height: 50px;
  width: 125px;
  color: #ffffff;
  background-color: #6366f1;
  border-radius: 8px;
  border-color: transparent;
  cursor: pointer;
}

@media (max-width: 576px) {
  .home-container {
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .home-content-container {
    height: 200vh;
    width: 100vw;
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
    padding-top: 70px;
    padding-left: 50px;
    font-family: Roboto;
    color: #ffffff;
  }

  .home-paragraph {
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
